@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-white bg-bg;
  }
}

html {
  scroll-behavior: smooth;
}

@keyframes pulse {
  0%, 100% { opacity: 1; }
  50% { opacity: 0.4; }
}

* {
  box-sizing: border-box;
}
